/* applying css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Resets the box-model so that width and height are not affected by border or padding.*/
}

body, html {
    min-height: 100vh;
}

body{
    display: flex;
}

/* Colors of sections */
.header{
    background-color: #adff2f;
    flex-grow: 1;
    padding: 15px;
}

.article{
    background-color: #ffffff;
    padding: 15px;
}

.nav{
    background-color: #add8e6;
    flex-grow: 1;
    padding: 15px;
}

.footer{
    background-color: #adff2f;
    flex-grow: 1;
    padding: 15px;
}

.right-part{
    display: flex;
    flex-direction: column;
    flex-grow: 4;
}

.inner-right-part{
    display: flex;
    flex-grow: 3;
}